  // .header {
  //   width: 100%;
  //   position: relative;
  // }

  // .header {
  //   background-color: #ffffff;
  //   padding:50px 5px;
  //   a{
  //     text-decoration: none;
  //     color: #000000;
  //   }
  // }
  // hr {
  //   border-top: 1px solid red;
  //   width: 100%;
  // }
  // .view{
  //   border: none !important;
  //   outline: #ffffff;
  //   i{
  //     font-size: 30px;
  //   }
  // }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .title {
      display: flex;
      justify-content: space-between;
      a{
        margin-left:90px;
        text-decoration: none;
        color: #000;
      }
    }

    .actions {

    }

    .contact-count {
      color: #ddd;
    }

    .view-types {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid black;

      .view-types-type {
        opacity: .5;

        &.--active {
          opacity: 1 !important;
        }
      }
         i{
      font-size: 30px;
    }
    }
  }

  .content {
    $common-margin: 20px;
    padding-top: $common-margin;

    .list {
      display: flex;
      flex-direction: column;
      row-gap: $common-margin;

      .list-item {
        border-bottom: 2px solid #ddd;
        padding: 10px 0;
        display: flex;
        column-gap: 50px;

        .list-item-avatar {
          width: 50px;
          height: 50px;
          background-color: rgb(221, 221, 221);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }

        .list-item-name-and-phone {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          align-items: center;
        }

        .list-item-actions {
          display: flex;
          flex-direction: row;
          column-gap: 10px;
          align-items: center;

          a {
            text-decoration: none;
            color: #000 ;
          }
        }
      }
    }

      .grid {
        display: flex;
        width: 300px;
        flex-wrap: wrap;
        column-gap: 20px;

        .grid-item {
          width: 130px;

            .grid-item-avatar {
            background-color: rgb(221, 221, 221);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }

          .grid-item-name-and-phone {
            display: flex;
            flex-direction: column;
            column-gap: 5px;
            align-items: center;
          }

          .grid-item-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            a {
              text-decoration: none;
              color: #000 ;
            }
          }
        }
    }
  }
}
