<div>
  <div>
    <div>
      <h1>My Contacts <a routerLink="/create/new"></a>
      </h1>
    </div>
    <small>
      Contacts ({{ (renderedContacts$ | async)?.length }})
    </small>
    <div>
      <span (click)="changeViewStyle()">
        <!-- <i class="bi bi-{{ view === 'list' ? 'grid-fill' : 'list-columns'}}"></i> -->
        {{view === 'list' ? 'grid' : 'list'}}
      </span>
    </div>
    <div>
      <form [formGroup]="searchForm">
        <input type="text" placeholder="search by name" formControlName="searchQuery">
      </form>
    </div>
  </div>

  <div>
    <ng-container *ngTemplateOutlet="view === 'list' ? listTemplate : gridTemplate; context:{
  contacts: (renderedContacts$ | async)}"></ng-container>
  </div>
</div>

<ng-template #listTemplate let-contacts="contacts">
  <div>
    <div *ngFor="let contact of contacts; trackBy: trackFunction">
      <div>
        <img *ngIf="contact.contactImage" src="{{ contact.contactImage }}" alt="{{ contact.firstName }}">
        <span *ngIf="!contact.contactImage">{{ contact.firstName.charAt(0) }}</span>
      </div>
      <span>{{ contact.firstName }} {{ contact.lastName }}</span>
      <span>{{ contact.phoneNumber }}</span>
      <div>
        <span>
          <ng-template [ngTemplateOutlet]="checkboxTemplate" [ngTemplateOutletContext]="{
  id: contact.id
  }"></ng-template>
        </span>
        <span>
          <ng-template [ngTemplateOutlet]="editContactTemplate" [ngTemplateOutletContext]="{
  id: contact.id
  }"></ng-template>
        </span>
        <span>
          <ng-template [ngTemplateOutlet]="deleteContactTemplate" [ngTemplateOutletContext]="{
  contact: contact
  }"></ng-template>
        </span>
        <span>
          <ng-template [ngTemplateOutlet]="viewContactTemplate" [ngTemplateOutletContext]="{
  id: contact.id
  }"></ng-template>
        </span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #gridTemplate let-contacts="contacts">
  <div *ngFor="let contact of contacts; trackBy: trackFunction">
    <img *ngIf="contact.contactImage" src="{{ contact.contactImage }}" alt="{{ contact.firstName }}">
    <span *ngIf="!contact.contactImage">{{ contact.firstName.charAt(0) }}</span>
    <span>{{ contact.firstName }} {{ contact.lastName }}</span>
    <span>{{ contact.phoneNumber }}</span>
    <div>
      <span>
        <ng-template [ngTemplateOutlet]="checkboxTemplate" [ngTemplateOutletContext]="{ id: contact.id  }">
        </ng-template>
      </span>
      <span>
        <ng-template [ngTemplateOutlet]="editContactTemplate" [ngTemplateOutletContext]="{  id: contact.id  }">
        </ng-template>
      </span>
      <span>
        <ng-template [ngTemplateOutlet]="deleteContactTemplate" [ngTemplateOutletContext]="{  contact: contact  }">
        </ng-template>
      </span>
      <span>
        <ng-template [ngTemplateOutlet]="viewContactTemplate" [ngTemplateOutletContext]="{  id: contact.id  }">
        </ng-template>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #checkboxTemplate let-id="id">
  <input type="checkbox" #checkboxInputElement
    (change)="addOrRemoveFromContactsToDelete(checkboxInputElement.checked ? 'add' : 'remove', id)">
</ng-template>

<ng-template #editContactTemplate let-id="id">
  <a routerLink="/create/{{id}}">
    edit </a>
</ng-template>

<ng-template #deleteContactTemplate let-contact="contact">
  <button (click)="markContactToDelete(contact)">Delete</button>
</ng-template>

<ng-template #viewContactTemplate let-id="id">
  <a routerLink="/view/{{id}}">
    view </a>
</ng-template>

<div *ngIf="contactIdsToDelete.length || contactToDelete">
  <ng-container *ngTemplateOutlet="contactToDelete ? deleteOneContactTemplate : deleteManyContacts"></ng-container>
  <ng-template #deleteOneContactTemplate>
    {{contactToDelete?.firstName}} {{contactToDelete?.lastName}} will be deleted
    <span (click)="deleteOneContact(contactToDelete?.id)">Delete</span>
  </ng-template>

  <ng-template #deleteManyContacts>
    you are about to delete {{contactIdsToDelete.length}}
    <span (click)="deleteSelectedContacts()">Delete</span>
  </ng-template>

</div>
