/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #6866FE;
  --secondary: #9867FE;
  --success: #ffffff;
  --danger: #ffffff;
  --warning: #ffffff;
  --info: #9e9ea7;
  --info-light: #ddd;
  --light: #FFFFFF;
  --dark: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family:
    "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  display: flex;
}

html {
  font-size: calc(0.75rem + 1.5vw);
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
